[submodule "src/3rdparty/firebreath"]
	path = src/3rdparty/firebreath
	url = https://github.com/firebreath/FireBreath.git
[submodule "src/core"]
	path = src/core
	url = ../core.git
[submodule "common"]
	path = common
	url = ../common.git
